{% extends 'base.html.twig' %}

{% block title %}Demande envoyée{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg 6 p-5">
                            <p>
                                Un e-mail a été envoyé, contenant un lien vous permettant de réinitialiser votre mot de passe.
                                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </p>
                            <p>Si vous ne recevez pas de mail, vérifiez vos spams, sinon <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
