{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">

                <h1 class="h3 mb-0 text-gray-800">404 - Page introuvable</h1>

                <p class="mb-0 text-gray-800">
                    La page demandée n'a pas été trouvée. Vérifiez que vous ayez bien écrit l'URL, sinon vous pouvez
                    <a href="{{ path('dashboard') }}">retourner au tableau de bord</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}